# dependencies
node_modules/
**/node_modules/
/.pnp
.pnp.js

# Zoho Catalyst Local Builds
.build/
**/dist/
catalyst-debug.log
.catalyst-history

# testing & production
/coverage
/dist
/client
frontend/dist
frontend/client

# astro
.astro
**/ .astro

# scratch folders and system settings
scratch/
.gemini/
.vscode/
.idea/
.DS_Store
*.pem
desktop.ini

# local env files
.env.local
frontend/.env.local
.env.development.local
.env.test.local
.env.production.local

# typescript
tsconfig.tsbuildinfo

# custom ignores
skills-lock.json
